body{
  background: #1B1B1B;
  color: #fff;
  margin: 100px 20px;
}

h2.hero1{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h1.hero2{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 0.1em;
  
}

h3.hero3{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}
.hero{
  background-color: #212121;
  text-align: center;
  padding: 160px 20px;
}


.button{
  background: #FFFFFF;
  border-radius: 50px;
  color: #212121;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 14px;
  padding: 18px 30px;
}

#img-1{
  display: block;
  margin: auto 0;
}

#img-2{
  display: block;
  margin: auto 0;
}

.profile-img{
  text-align: center;
}

p.title{
  color: #F65282;
  text-transform: uppercase;
  margin-top: 40px;
}
p.title-work-info{
  color: #F65282;
  text-transform: uppercase;
  margin-top: 40px;
}

.get-in-touch {
  margin-top: 2rem;
  text-align: right;
}

.contactme{
  background-color: #fff;
  color: #1B1B1B;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 50px;
 
}

li{
  list-style: none;
  margin-left: -30px;
}

i.fas{
  font-size: 8px;
  margin-right: 10px;
  color: #282323;
}

i.fab{
  margin: 2rem 0;
  font-size: 1.2rem;
}

h1.name{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 0.5rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;

}

h2.about{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 400;
}

img.quarentine-posters{
  width: 40%;
  margin: 0 2rem;
}

a{
  color: #fff;
  text-decoration: none;
}

a:hover{
  color: #F65282;
}

footer{
  background-color: #282323;
  ;
}

@media only screen and (max-width: 1020px) {
  i.fab{
   text-align: center;
  }
}

@media only screen and (max-width: 1020px) {
  .profile-img,
  .about-text {
   width: 100%;
   text-align: center;
  }
}
@media only screen and (max-width: 1020px) {
  li, 
  .title-work-info{
    display: inline;
    margin-left: 10px;
    text-align: center;
  }
}

@media only screen and (max-width: 1020px) {
i.fas{
display: none;
}
}




